
<!DOCTYPE html>
<html lang="en">

<%- include("../style.ejs") %>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
  
    <!-- partial -->

    <%- include("../head1.ejs") %>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
     
      <!-- partial -->
     
      <%- include("../sidebar") %>
     
      <div class="main-panel">
        <div class="content-wrapper">


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Sponser Details</h4>
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Type
                </th>
                <th>
                  Logo 
                </th>
              
              </tr>
            </thead>
            <tbody>
                <% for(let i=0;i < detail.length; i++) { %>
                    <% detail[i].Sub_Events.Sponsers.forEach(data1=>{ %>
                   
              <tr>
                <td class="py-1">
                  <%= data1.Sponser_name %>
                </td>
             
                <td>
                  <%= data1.Type %>
                </td>
                <td>
                  <img src="<%= data1.Image %>" height="100" width="100">
                </td>
                
              </tr>
              <% })  }%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%- include("../footer") %>
  </div>
  </div>
</div>
</div>
</body>
</html>