
<!DOCTYPE html>
<html lang="en">

<%- include("../style.ejs") %>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
  
    <!-- partial -->

    <%- include("../head1.ejs") %>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
     
      <!-- partial -->
     
      <%- include("../sidebar") %>
     
      <div class="main-panel">
        <div class="content-wrapper">


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Query Details</h4>
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Contact
                </th>
                <th>
                    Query
                </th>
                <th>
                  Reply
                </th>
                
              
              </tr>
            </thead>
            <tbody>
                <% for(let i=0;i < info.length; i++) { %>
                   
                  <% info[i].data.forEach(data1=>{ %> 
              <tr>
                <td class="py-1">
                  <%= data1.name %>
                </td>
             
                <td>
                  <%= data1.email %>
                </td>
                <td>
                  <%= data1.contact %>
                </td>
                <td>
                    <%= info[i].Query_String %>
                </td>
                <td>
                    <a class="btn btn-info" href="/reply_Query?id=<%= info[i]._id %>">Reply</a>
                </td>
              
              </tr>
              <%   })}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%- include("../footer") %>
  </div>
  </div>
</div>
</div>
</body>
</html>