<!DOCTYPE html>
<html lang="en">

<%- include("../style.ejs") %>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
  
    <!-- partial -->

    <%- include("../head1.ejs") %>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
     
      <!-- partial -->
     
      <%- include("../sidebar") %>
     
      <div class="main-panel">
        <div class="content-wrapper">
          <form method="POST" enctype="multipart/form-data">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Distribute Fund</h4>
                    <div class="form-group">
                    
                    </div>
                    <div class="form-group">
                        <label for="exampleVenue">Select Committee</label>
                          <select class="form-control" id="exampleVenue" name="com">
                            <% for(let i=0;i < info.length; i++){ %>
                                <% if(!info[i].status=='1') { %> 
                                 <option> <%= info[i].Committee_name %></option>
                              <% } }%>   
                          </select>
                        </div>
                      				

                 <div class="form-group">
                        <label for="exampleInputEmail3">Fund Amount</label>
                        <input type="number" class="form-control" id="exampleInputEmail3" placeholder="Amount" name="amt" required>
                      </div>
                      
                      
                                            
                        <input type="submit" class="form-control" name="submit" value="Submit" style="font-weight: bold; background-color:azure;">
                    </div>
                  
                      </div>
         
        
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
       <%- include("../footer") %>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    </form>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
</div>
  <!-- plugins:js -->
  </body>

</html>

